@tailwind base;
@tailwind components;
@tailwind utilities;

/* return the default size for result text editor */

/* 
.text-editor h1 { font-size: 2em } */
.text-editor h2 { font-size: 1.5em; font-weight: 800; }
/* 
.text-editor h3 { font-size: 1.125em }
.text-editor h4 { font-size: 1em }
.text-editor h5 { font-size: .83em }
.text-editor h6 { font-size: .67rem } */

.text-editor .ql-indent-1 { text-indent: 1em;}
.text-editor .ql-indent-2 { text-indent: 2em;}
.text-editor .ql-indent-3 { text-indent: 3em;}
.text-editor .ql-indent-4 { text-indent: 4em;}
.text-editor .ql-indent-5 { text-indent: 5em;}
.text-editor .ql-indent-6 { text-indent: 6em;}
.text-editor .ql-indent-7 { text-indent: 7em;}
.text-editor .ql-indent-8 { text-indent: 8em;}
.text-editor .ql-indent-9 { text-indent: 9em;}

.text-editor ul { list-style-type: disc; list-style-position: inside; }

.text-editor .ql-align-left { text-align: left; }
.text-editor .ql-align-right { text-align: right; }
.text-editor .ql-align-center { text-align: center; }
.text-editor .ql-align-justify { text-align: justify; }

.text-editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 8px;
}